<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/74ae9243-ba4b-4f4c-bb26-fa9bfb2f112e/resourcegroups/TechPremioGroup/providers/Microsoft.Web/sites/TechPremio</ResourceId>
    <ResourceGroup>TechPremioGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://techpremio.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>techpremio.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TechPremio</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$TechPremio</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Ultimate_Tech_Premio.Models.tech_premioEntities2" Order="1" Enabled="False">
          <Destination Path="Data Source=techpremiodbserver.database.windows.net;Initial Catalog=TechPremio_db;Persist Security Info=True;User ID=techpremio;Password=Tech@123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Ultimate_Tech_Premio.Models.tech_premioEntities2, Ultimate_Tech_Premio" MigrationConfiguration="Ultimate_Tech_Premio.Migrations.Configuration, Ultimate_Tech_Premio" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Ultimate_Tech_Premio.Models.tech_premioEntities2-Web.config Connection String">
      <ParameterValue>Data Source=techpremiodbserver.database.windows.net;Initial Catalog=TechPremio_db;Persist Security Info=True;User ID=techpremio;Password=Tech@123</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>